### Numpy Class Codes

In [2]:
import numpy as np

In [3]:
a = np.array([1, 2, 3])

In [4]:
a

array([1, 2, 3])

In [5]:
type(a)

numpy.ndarray

In [6]:
print(a)

[1 2 3]

In [7]:
a.shape

(3,)

In [8]:
a.ndim

1

In [9]:
b = np.array([[1, 2, 3], [4, 5, 6]])

In [10]:
b

array([[1, 2, 3],
       [4, 5, 6]])

In [11]:
b.shape

(2, 3)

In [12]:
a[0]

1

In [13]:
a[-1]

3

In [14]:
b[0]

array([1, 2, 3])

In [15]:
b[1, 0]

4

In [16]:
a[1:]

array([2, 3])

In [17]:
b[:,2]

array([3, 6])

In [18]:
b[1, :]

array([4, 5, 6])

In [19]:
a[2] = 4

In [20]:
a

array([1, 2, 4])

In [21]:
b[1, 2] =7
b

array([[1, 2, 3],
       [4, 5, 7]])

In [22]:
b[:, 2] = 8

In [23]:
b

array([[1, 2, 8],
       [4, 5, 8]])

In [24]:
a

array([1, 2, 4])

In [25]:
a = [1, 2, 4]

In [26]:
a

[1, 2, 4]

In [27]:
a = np.array([1, 2, 3])

In [28]:
a

array([1, 2, 3])

In [29]:
np.sum(a)

6

In [30]:
a.dtype

dtype('int32')

In [31]:
a = np.array([1, 2, 3], dtype=np.float16)

In [32]:
a

array([1., 2., 3.], dtype=float16)

In [33]:
a.dtype

dtype('float16')

In [34]:
a=a.astype(np.int64)

In [35]:
a.dtype

dtype('int64')

In [36]:
c1 = np.array([1, 2, 3, 4, 5, 6])

In [37]:
c1

array([1, 2, 3, 4, 5, 6])

In [38]:
c1.ndim

1

In [39]:
c1.shape

(6,)

In [40]:
c2 = c1.reshape(2,3)

In [41]:
c2

array([[1, 2, 3],
       [4, 5, 6]])

In [42]:
c2.ravel()

array([1, 2, 3, 4, 5, 6])

In [43]:
a

array([1, 2, 3], dtype=int64)

In [44]:
a1 = a

In [45]:
a[1] = 4

In [46]:
a

array([1, 4, 3], dtype=int64)

In [47]:
a1

array([1, 4, 3], dtype=int64)

In [48]:
a2 = a.copy()

In [49]:
a2

array([1, 4, 3], dtype=int64)

In [50]:
a[1] = 6

In [51]:
a2

array([1, 4, 3], dtype=int64)

In [52]:
c = np.arange(100, 50, -5)

In [53]:
c

array([100,  95,  90,  85,  80,  75,  70,  65,  60,  55])

In [54]:
np.random.random((4, 2))

array([[0.88215469, 0.15986725],
       [0.69066041, 0.4775464 ],
       [0.32155508, 0.32278874],
       [0.84649326, 0.18309557]])

In [55]:
np.random.seed(123)
np.random.random((4, 2))

array([[0.69646919, 0.28613933],
       [0.22685145, 0.55131477],
       [0.71946897, 0.42310646],
       [0.9807642 , 0.68482974]])

In [56]:
np.random.randint(1, 10, (2,2))

array([[1, 1],
       [4, 5]])

In [57]:
np.random.seed(5)
np.random.uniform(1, 3, (2, 5))

array([[1.44398634, 2.74146461, 1.41343831, 2.83722182, 1.97682238],
       [2.22348773, 2.53181571, 2.03683598, 1.593601  , 1.37544246]])

In [58]:
np.random.randn(20,10)

array([[ 0.18760323, -0.32986996, -1.19276461, -0.20487651, -0.35882895,
         0.6034716 , -1.66478853, -0.70017904,  1.15139101,  1.85733101],
       [-1.51117956,  0.64484751, -0.98060789, -0.85685315, -0.87187918,
        -0.42250793,  0.99643983,  0.71242127,  0.05914424, -0.36331088],
       [ 0.00328884, -0.10593044,  0.79305332, -0.63157163, -0.00619491,
        -0.10106761, -0.05230815,  0.24921766,  0.19766009,  1.33484857],
       [-0.08687561,  1.56153229, -0.30585302, -0.47773142,  0.10073819,
         0.35543847,  0.26961241,  1.29196338,  1.13934298,  0.4944404 ],
       [-0.33633626, -0.10061435,  1.41339802,  0.22125412, -1.31077313,
        -0.68956523, -0.57751323,  1.15220477, -0.10716398,  2.26010677],
       [ 0.65661947,  0.12480683, -0.43570392,  0.97217931, -0.24071114,
        -0.82412345,  0.56813272,  0.01275832,  1.18906073, -0.07359332],
       [-2.85968797,  0.7893664 , -1.87774088,  1.53875615,  1.82136474,
        -0.42703139, -1.16470191, -1.39707402,  0.87265462, -0.20211818],
       [-0.59835993, -0.2434197 ,  2.08851469,  0.34691933,  0.74572695,
         0.77690759,  1.01842113,  1.06135144, -0.71046645, -0.2151878 ],
       [-0.76076031, -0.71116323,  1.14150774, -0.50175555, -0.07915136,
        -0.69282634, -0.59340277,  0.78823794, -0.44542999, -0.48212019],
       [ 0.49355766,  0.50048733,  0.79242262,  0.17076445, -1.75374086,
         0.63029648,  0.49832921,  1.01813761, -0.84646862,  2.52080763],
       [-1.23238611,  0.72695326,  0.04595522, -0.48713265,  0.81613236,
        -0.28143012, -2.33562182, -1.16727845,  0.45765807,  2.23796561],
       [-1.4812592 , -0.01694532,  1.45073354,  0.60687032, -0.37562084,
        -1.42192455, -1.7811513 , -0.74790579, -0.36840953, -2.24911813],
       [-1.69367504,  0.30364847, -0.40899234, -0.75483059, -0.40751917,
        -0.81262476,  0.92751621,  1.63995407,  2.07361553,  0.70979786],
       [ 0.74715259,  1.46309548,  1.73844881,  1.46520488,  1.21228341,
        -0.6346525 , -1.5996985 ,  0.87715281, -0.09383245, -0.05567103],
       [-0.88942073, -1.30095145,  1.40216662,  0.46510099, -1.06503262,
         0.39042061,  0.30560017,  0.52184949,  2.23327081, -0.0347021 ],
       [-1.27962318,  0.03654264, -0.64635659,  0.54856784,  0.21054246,
         0.34650175, -0.56705117,  0.41367881, -0.51025606,  0.51725935],
       [-0.30100513, -1.11840643,  0.49852362, -0.70609387,  1.4438811 ,
         0.44295626,  0.46770521,  0.10134479, -0.05935198, -2.38669774],
       [ 1.22217056, -0.81391201,  0.95626186, -0.63851056, -0.14312642,
        -0.22418983, -1.03849524, -0.17170905,  0.47634618, -0.41417827],
       [-1.26408334, -0.57321556,  0.24981732,  1.14720208,  0.83594396,
         0.28740365, -0.9955963 ,  0.90688947,  0.02421074, -0.23998173],
       [ 0.91011056,  0.61784475,  0.49961804, -1.15154425, -0.6105164 ,
        -1.70388541,  0.19443738,  0.02824125,  0.93256051,  0.21204332]])

In [59]:
np.zeros((4,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [60]:
np.eye(10)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [61]:
np.full(2, 3)

array([3, 3])

In [62]:
np.full((2,3), np.pi)

array([[3.14159265, 3.14159265, 3.14159265],
       [3.14159265, 3.14159265, 3.14159265]])

In [63]:
np.full((2,5), np.nan)

array([[nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan]])

In [64]:
np.linspace(2, 3, 7)

array([2.        , 2.16666667, 2.33333333, 2.5       , 2.66666667,
       2.83333333, 3.        ])

In [65]:
a = np.array([1,2,5,2,8,10])

In [66]:
np.diff(a)

array([ 1,  3, -3,  6,  2])

In [67]:
b = np.array([2,1,5,9,10,32,1])

In [68]:
np.concatenate([a,b])

array([ 1,  2,  5,  2,  8, 10,  2,  1,  5,  9, 10, 32,  1])

In [69]:
c = np.array([[1,2,3], [4,3,2]])

In [70]:
c

array([[1, 2, 3],
       [4, 3, 2]])

In [71]:
d = np.array([[9,2,0], [9, 90, 1]])

In [72]:
d

array([[ 9,  2,  0],
       [ 9, 90,  1]])

In [73]:
np.concatenate([c,d], axis=1)

array([[ 1,  2,  3,  9,  2,  0],
       [ 4,  3,  2,  9, 90,  1]])

In [74]:
d.T

array([[ 9,  9],
       [ 2, 90],
       [ 0,  1]])

In [75]:
np.meshgrid(c,d)

[array([[1, 2, 3, 4, 3, 2],
        [1, 2, 3, 4, 3, 2],
        [1, 2, 3, 4, 3, 2],
        [1, 2, 3, 4, 3, 2],
        [1, 2, 3, 4, 3, 2],
        [1, 2, 3, 4, 3, 2]]),
 array([[ 9,  9,  9,  9,  9,  9],
        [ 2,  2,  2,  2,  2,  2],
        [ 0,  0,  0,  0,  0,  0],
        [ 9,  9,  9,  9,  9,  9],
        [90, 90, 90, 90, 90, 90],
        [ 1,  1,  1,  1,  1,  1]])]

In [76]:
np.abs(d)

array([[ 9,  2,  0],
       [ 9, 90,  1]])

In [77]:
np.add(c, d)

array([[10,  4,  3],
       [13, 93,  3]])

In [78]:
e = np.array([[1,2,3], [3, 8,10], [2, 7,4]])
e

array([[ 1,  2,  3],
       [ 3,  8, 10],
       [ 2,  7,  4]])

In [79]:
np.matmul(c, e)

array([[13, 39, 35],
       [17, 46, 50]])

In [80]:
np.negative(e)

array([[ -1,  -2,  -3],
       [ -3,  -8, -10],
       [ -2,  -7,  -4]])

In [81]:
np.power(d, c)

array([[     9,      4,      0],
       [  6561, 729000,      1]])

In [82]:
np.sin(e)

array([[ 0.84147098,  0.90929743,  0.14112001],
       [ 0.14112001,  0.98935825, -0.54402111],
       [ 0.90929743,  0.6569866 , -0.7568025 ]])

In [83]:
f = np.array([1,3,4])

In [84]:
f_inf = np.array([0,2,0])

In [85]:
f/f_inf

C:\Users\USER\AppData\Local\Temp\ipykernel_12936\3857189737.py:1: RuntimeWarning: divide by zero encountered in divide
  f/f_inf

array([inf, 1.5, inf])

In [86]:
a = np.array([1,2,3])
b = np.array([2,3,2])

In [87]:
np.dot(b, a)

14

In [88]:
a@b

14

In [89]:
np.count_nonzero(a)

3

In [90]:
np.count_nonzero(a>0)

3

In [91]:
np.count_nonzero(a<0)

0

In [92]:
a<0

array([False, False, False])

In [93]:
a>0

array([ True,  True,  True])

In [94]:
np.any(a<0)

False

In [95]:
np.all(a<0)

False

In [96]:
np.all(a>0)

True

In [97]:
f_inf[f_inf%2==0]

array([0, 2, 0])

In [98]:
a==b

array([False, False, False])

In [99]:
a==d

array([[False,  True, False],
       [False, False, False]])

In [100]:
a = np.array([[1,2,2], [3,4,2]])
b = np.array([2,1,2])

In [101]:
a==b

array([[False, False,  True],
       [False, False,  True]])

In [102]:
a!=b

array([[ True,  True, False],
       [ True,  True, False]])

In [103]:
np.allclose(a,b)

False

### Working with Pandas

In [104]:
import pandas as pd

creating pandas series

In [105]:
row = pd.Series([10, 20, 30, 40, 50])

In [106]:
row

0    10
1    20
2    30
3    40
4    50
dtype: int64

creating a dataframe

In [107]:
df = pd.DataFrame([[10, "ten", True],
                   [20, "twenty", False],
                   [30, "thirty", True],
                   [40, "forty", False],
                   [50, "fifty", False]])
df

    0       1      2
0  10     ten   True
1  20  twenty  False
2  30  thirty   True
3  40   forty  False
4  50   fifty  False

In [108]:
df = pd.DataFrame(np.arange(100).reshape(20,5))
df

     0   1   2   3   4
0    0   1   2   3   4
1    5   6   7   8   9
2   10  11  12  13  14
3   15  16  17  18  19
4   20  21  22  23  24
5   25  26  27  28  29
6   30  31  32  33  34
7   35  36  37  38  39
8   40  41  42  43  44
9   45  46  47  48  49
10  50  51  52  53  54
11  55  56  57  58  59
12  60  61  62  63  64
13  65  66  67  68  69
14  70  71  72  73  74
15  75  76  77  78  79
16  80  81  82  83  84
17  85  86  87  88  89
18  90  91  92  93  94
19  95  96  97  98  99

In [109]:
df.head()

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [110]:
df.head(7)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
5  25  26  27  28  29
6  30  31  32  33  34

In [111]:
df.shape

(20, 5)

In [112]:
df = pd.DataFrame(np.arange(9).reshape((3, 3)))
df

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [113]:
df.index = ["1st line", "2nd line", "3rd line"]
df.columns = ["column A", "column B", "column C"]

In [114]:
df

          column A  column B  column C
1st line         0         1         2
2nd line         3         4         5
3rd line         6         7         8

In [115]:
df2 = pd.DataFrame(np.arange(9).reshape((3, 3)),
                   index=["1st line", "2nd line", "3rd line"],
                   columns=["column A", "column B", "column C"])
df2

          column A  column B  column C
1st line         0         1         2
2nd line         3         4         5
3rd line         6         7         8

In [116]:
pd.DataFrame({"column A": [1, 2, 3], "column B": [10, 20, 30], "column C": [True, False, False]})

   column A  column B  column C
0         1        10      True
1         2        20     False
2         3        30     False

In [117]:
df = pd.DataFrame(np.arange(20).reshape((5, 4)),
                  index=["1st line", "2nd line", "3rd line", "4th line", "5th line"],
                  columns=["column A", "column B", "column C", "Column D"])
df

          column A  column B  column C  Column D
1st line         0         1         2         3
2nd line         4         5         6         7
3rd line         8         9        10        11
4th line        12        13        14        15
5th line        16        17        18        19

Extracting or Slicing Data from a DataFrame

In [118]:
df["column A"]

1st line     0
2nd line     4
3rd line     8
4th line    12
5th line    16
Name: column A, dtype: int32

In [119]:
df[["column A", "column C"]]

          column A  column C
1st line         0         2
2nd line         4         6
3rd line         8        10
4th line        12        14
5th line        16        18

In [120]:
df[:"1st line"]

          column A  column B  column C  Column D
1st line         0         1         2         3

In [121]:
df[:2]

          column A  column B  column C  Column D
1st line         0         1         2         3
2nd line         4         5         6         7

In [122]:
df.loc[:, "column A"]

1st line     0
2nd line     4
3rd line     8
4th line    12
5th line    16
Name: column A, dtype: int32

In [123]:
df.loc[:, ["column A", "column C"]]

          column A  column C
1st line         0         2
2nd line         4         6
3rd line         8        10
4th line        12        14
5th line        16        18

In [124]:
df.loc["3rd line", :]

column A     8
column B     9
column C    10
Column D    11
Name: 3rd line, dtype: int32

In [125]:
df.loc[["2nd line", "4th line"], :]

          column A  column B  column C  Column D
2nd line         4         5         6         7
4th line        12        13        14        15

In [126]:
df.loc[["2nd line", "5th line"], ["column B", "Column D"]]

          column B  Column D
2nd line         5         7
5th line        17        19

In [127]:
df.iloc[0, 2]

2

In [128]:
df.iloc[2:, 3]

3rd line    11
4th line    15
5th line    19
Name: Column D, dtype: int32

In [129]:
df.iloc[1:, :2]

          column A  column B
2nd line         4         5
3rd line         8         9
4th line        12        13
5th line        16        17

Reading and Writing with CSV files

In [130]:
df = pd.read_csv("c01.csv", encoding="shift-jis")
df

,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
0,00,全国,大正,9.0,1920.0,NaN,55963053,28044185,27918868
1,01,北海道,大正,9.0,1920.0,NaN,2359183,1244322,1114861
2,02,青森県,大正,9.0,1920.0,NaN,756454,381293,375161
3,03,岩手県,大正,9.0,1920.0,NaN,845540,421069,424471
4,04,宮城県,大正,9.0,1920.0,NaN,961768,485309,476459
...,...,...,...,...,...,...,...,...,...
977,45,宮崎県,平成,27.0,2015.0,NaN,1104069,519242,584827
978,46,鹿児島県,平成,27.0,2015.0,NaN,1648177,773061,875116
979,47,沖縄県,平成,27.0,2015.0,NaN,1433566,704619,728947
980,1) 沖縄県は調査されなかったため，含まれていない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,2) 長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
sample_df = pd.DataFrame(np.arange(20).reshape((5, 4)),
                  index=["1st line", "2nd line", "3rd line", "4th line", "5th line"],
                  columns=["column A", "column B", "column C", "Column D"])
sample_df

          column A  column B  column C  Column D
1st line         0         1         2         3
2nd line         4         5         6         7
3rd line         8         9        10        11
4th line        12        13        14        15
5th line        16        17        18        19

In [132]:
sample_df.to_csv("sample_df.csv")

Reading and Writing Excel Files

In [133]:
df = pd.read_excel("c01.xlsx")
df

,Unnamed: 0,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
0,0,00,全国,大正,9.0,1920.0,NaN,55963053,28044185,27918868
1,1,01,北海道,大正,9.0,1920.0,NaN,2359183,1244322,1114861
2,2,02,青森県,大正,9.0,1920.0,NaN,756454,381293,375161
3,3,03,岩手県,大正,9.0,1920.0,NaN,845540,421069,424471
4,4,04,宮城県,大正,9.0,1920.0,NaN,961768,485309,476459
...,...,...,...,...,...,...,...,...,...,...
977,977,45,宮崎県,平成,27.0,2015.0,NaN,1104069,519242,584827
978,978,46,鹿児島県,平成,27.0,2015.0,NaN,1648177,773061,875116
979,979,47,沖縄県,平成,27.0,2015.0,NaN,1433566,704619,728947
980,980,1) 沖縄県は調査されなかったため，含まれていない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,981,2) 長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
sample_df = pd.DataFrame(np.arange(20).reshape((5, 4)),
                  index=["1st line", "2nd line", "3rd line", "4th line", "5th line"],
                  columns=["column A", "column B", "column C", "Column D"])
sample_df

          column A  column B  column C  Column D
1st line         0         1         2         3
2nd line         4         5         6         7
3rd line         8         9        10        11
4th line        12        13        14        15
5th line        16        17        18        19

In [135]:
sample_df.to_excel("sample_df.xlsx")

Extract Data from Website

In [136]:
url = "https://www.e-stat.go.jp/stat-search/files?page=1&query=%E4%BA%BA%E5%8F%A3&layout=dataset&stat_infid=000032126213&metadata=1&data=1"
tables = pd.read_html(url)
tables

[            0                                                  1    2
 0       政府統計名                                               人口推計   詳細
 1     政府統計コード                                           00200524  NaN
 2       調査の概要  人口推計は、国勢調査による人口を基に、その後の各月における出生・死亡、入国・出国などの人口の...  NaN
 3       提供統計名                                               人口推計  NaN
 4       提供分類1                                           各月1日現在人口  NaN
 5        統計表名  年齢(5歳階級)、男女別人口(2021年5月平成27年国勢調査を基準とする推計値、2021年...  NaN
 6   データセットの概要                                                NaN  NaN
 7   統計分野（大分類）                                              人口・世帯  NaN
 8   統計分野（小分類）                                                 人口  NaN
 9        担当機関                                                総務省  NaN
 10       担当課室                                      統計局統計調査部国勢統計課  NaN
 11    政府統計URL        http://www.stat.go.jp/data/jinsui/index.htm  NaN
 12      統計の種類                                               基幹統計  NaN
 13       調査年月                                          2021年 10月  NaN
 14    公開年月日時分                                   2021-10-20 14:00  NaN
 15       提供周期                                                 月次  NaN
 16     集計地域区分                                               該当なし  NaN,
            0   1
 0      政府統計名 NaN
 1  ホームページURL NaN
 2  担当機関名（課室） NaN
 3    メールアドレス NaN
 4       電話番号 NaN,
         0   1
 0  ファイル形式 NaN,
         0                   1
 0  ファイル形式  XML形式 JSON形式 CSV形式]

In [137]:
len(tables)

4

In [138]:
df = tables[0]
df

            0                                                  1    2
0       政府統計名                                               人口推計   詳細
1     政府統計コード                                           00200524  NaN
2       調査の概要  人口推計は、国勢調査による人口を基に、その後の各月における出生・死亡、入国・出国などの人口の...  NaN
3       提供統計名                                               人口推計  NaN
4       提供分類1                                           各月1日現在人口  NaN
5        統計表名  年齢(5歳階級)、男女別人口(2021年5月平成27年国勢調査を基準とする推計値、2021年...  NaN
6   データセットの概要                                                NaN  NaN
7   統計分野（大分類）                                              人口・世帯  NaN
8   統計分野（小分類）                                                 人口  NaN
9        担当機関                                                総務省  NaN
10       担当課室                                      統計局統計調査部国勢統計課  NaN
11    政府統計URL        http://www.stat.go.jp/data/jinsui/index.htm  NaN
12      統計の種類                                               基幹統計  NaN
13       調査年月                                          2021年 10月  NaN
14    公開年月日時分                                   2021-10-20 14:00  NaN
15       提供周期                                                 月次  NaN
16     集計地域区分                                               該当なし  NaN

Saving DataFrame

In [139]:
df.to_pickle("stock_df.pickle")

In [140]:
stock_df = pd.read_pickle("stock_df.pickle")

In [141]:
stock_df

            0                                                  1    2
0       政府統計名                                               人口推計   詳細
1     政府統計コード                                           00200524  NaN
2       調査の概要  人口推計は、国勢調査による人口を基に、その後の各月における出生・死亡、入国・出国などの人口の...  NaN
3       提供統計名                                               人口推計  NaN
4       提供分類1                                           各月1日現在人口  NaN
5        統計表名  年齢(5歳階級)、男女別人口(2021年5月平成27年国勢調査を基準とする推計値、2021年...  NaN
6   データセットの概要                                                NaN  NaN
7   統計分野（大分類）                                              人口・世帯  NaN
8   統計分野（小分類）                                                 人口  NaN
9        担当機関                                                総務省  NaN
10       担当課室                                      統計局統計調査部国勢統計課  NaN
11    政府統計URL        http://www.stat.go.jp/data/jinsui/index.htm  NaN
12      統計の種類                                               基幹統計  NaN
13       調査年月                                          2021年 10月  NaN
14    公開年月日時分                                   2021-10-20 14:00  NaN
15       提供周期                                                 月次  NaN
16     集計地域区分                                               該当なし  NaN

In [142]:
df = pd.read_csv("sales_data.csv")
df

            日付    売り上げ   客数   客単価
0   2021-01-01  549342  125  4395
1   2021-01-02  577869  150  3852
2   2021-01-03  328030  184  1783
3   2021-01-04  317730  156  2037
4   2021-01-05  492476  149  3305
5   2021-01-06  494278  112  4413
6   2021-01-07  446449  118  3783
7   2021-01-08  429130  181  2371
8   2021-01-09  346203  101  3428
9   2021-01-10  520374  151  3446
10  2021-01-11  453313  144  3148
11  2021-01-12  365632  148  2470
12  2021-01-13  549903  156  3525
13  2021-01-14  418857  191  2193
14  2021-01-15  371200  149  2491
15  2021-01-16  464782  186  2499
16  2021-01-17  496719  103  4823
17  2021-01-18  532857  167  3191
18  2021-01-19  335662  111  3024
19  2021-01-20  527748  121  4362
20  2021-01-21  430256  189  2276
21  2021-01-22  457698  198  2312
22  2021-01-23  545799  103  5299
23  2021-01-24  514338  111  4634
24  2021-01-25  330255  103  3206
25  2021-01-26  306648  194  1581
26  2021-01-27  519069  106  4897
27  2021-01-28  585872  109  5375
28  2021-01-29  383079  187  2049
29  2021-01-30  566339  114  4968
30  2021-01-31  564572  183  3085

In [143]:
df["売り上げ"] >= 500000

0      True
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17     True
18    False
19     True
20    False
21    False
22     True
23     True
24    False
25    False
26     True
27     True
28    False
29     True
30     True
Name: 売り上げ, dtype: bool

In [144]:
matched_df = df[df["売り上げ"] >= 500000]
matched_df

            日付    売り上げ   客数   客単価
0   2021-01-01  549342  125  4395
1   2021-01-02  577869  150  3852
9   2021-01-10  520374  151  3446
12  2021-01-13  549903  156  3525
17  2021-01-18  532857  167  3191
19  2021-01-20  527748  121  4362
22  2021-01-23  545799  103  5299
23  2021-01-24  514338  111  4634
26  2021-01-27  519069  106  4897
27  2021-01-28  585872  109  5375
29  2021-01-30  566339  114  4968
30  2021-01-31  564572  183  3085

In [145]:
df.query('売り上げ >= 500000')

            日付    売り上げ   客数   客単価
0   2021-01-01  549342  125  4395
1   2021-01-02  577869  150  3852
9   2021-01-10  520374  151  3446
12  2021-01-13  549903  156  3525
17  2021-01-18  532857  167  3191
19  2021-01-20  527748  121  4362
22  2021-01-23  545799  103  5299
23  2021-01-24  514338  111  4634
26  2021-01-27  519069  106  4897
27  2021-01-28  585872  109  5375
29  2021-01-30  566339  114  4968
30  2021-01-31  564572  183  3085

In [146]:
df.query("客単価 < 4000")

            日付    売り上げ   客数   客単価
1   2021-01-02  577869  150  3852
2   2021-01-03  328030  184  1783
3   2021-01-04  317730  156  2037
4   2021-01-05  492476  149  3305
6   2021-01-07  446449  118  3783
7   2021-01-08  429130  181  2371
8   2021-01-09  346203  101  3428
9   2021-01-10  520374  151  3446
10  2021-01-11  453313  144  3148
11  2021-01-12  365632  148  2470
12  2021-01-13  549903  156  3525
13  2021-01-14  418857  191  2193
14  2021-01-15  371200  149  2491
15  2021-01-16  464782  186  2499
17  2021-01-18  532857  167  3191
18  2021-01-19  335662  111  3024
20  2021-01-21  430256  189  2276
21  2021-01-22  457698  198  2312
24  2021-01-25  330255  103  3206
25  2021-01-26  306648  194  1581
28  2021-01-29  383079  187  2049
30  2021-01-31  564572  183  3085

In [147]:
df.query('客数 >= 150 and 客単価 >= 3500')

            日付    売り上げ   客数   客単価
1   2021-01-02  577869  150  3852
12  2021-01-13  549903  156  3525

In [148]:
df.dtypes

日付      object
売り上げ     int64
客数       int64
客単価      int64
dtype: object

In [149]:
df['日付'] = df['日付'].apply(pd.to_datetime)

In [150]:
df.dtypes

日付      datetime64[ns]
売り上げ             int64
客数               int64
客単価              int64
dtype: object

In [151]:
df.loc[:, '客単価'] = df.loc[:, '客単価'].astype(np.float32)

C:\Users\USER\AppData\Local\Temp\ipykernel_12936\1835499687.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, '客単価'] = df.loc[:, '客単価'].astype(np.float32)

In [152]:
df.dtypes

日付      datetime64[ns]
売り上げ             int64
客数               int64
客単価            float32
dtype: object

In [153]:
df.sort_values(by="売り上げ", inplace=True)

In [154]:
df

           日付    売り上げ   客数     客単価
25 2021-01-26  306648  194  1581.0
3  2021-01-04  317730  156  2037.0
2  2021-01-03  328030  184  1783.0
24 2021-01-25  330255  103  3206.0
18 2021-01-19  335662  111  3024.0
8  2021-01-09  346203  101  3428.0
11 2021-01-12  365632  148  2470.0
14 2021-01-15  371200  149  2491.0
28 2021-01-29  383079  187  2049.0
13 2021-01-14  418857  191  2193.0
7  2021-01-08  429130  181  2371.0
20 2021-01-21  430256  189  2276.0
6  2021-01-07  446449  118  3783.0
10 2021-01-11  453313  144  3148.0
21 2021-01-22  457698  198  2312.0
15 2021-01-16  464782  186  2499.0
4  2021-01-05  492476  149  3305.0
5  2021-01-06  494278  112  4413.0
16 2021-01-17  496719  103  4823.0
23 2021-01-24  514338  111  4634.0
26 2021-01-27  519069  106  4897.0
9  2021-01-10  520374  151  3446.0
19 2021-01-20  527748  121  4362.0
17 2021-01-18  532857  167  3191.0
22 2021-01-23  545799  103  5299.0
0  2021-01-01  549342  125  4395.0
12 2021-01-13  549903  156  3525.0
30 2021-01-31  564572  183  3085.0
29 2021-01-30  566339  114  4968.0
1  2021-01-02  577869  150  3852.0
27 2021-01-28  585872  109  5375.0

In [155]:
df = df.drop("客単価", axis=1)
df

           日付    売り上げ   客数
25 2021-01-26  306648  194
3  2021-01-04  317730  156
2  2021-01-03  328030  184
24 2021-01-25  330255  103
18 2021-01-19  335662  111
8  2021-01-09  346203  101
11 2021-01-12  365632  148
14 2021-01-15  371200  149
28 2021-01-29  383079  187
13 2021-01-14  418857  191
7  2021-01-08  429130  181
20 2021-01-21  430256  189
6  2021-01-07  446449  118
10 2021-01-11  453313  144
21 2021-01-22  457698  198
15 2021-01-16  464782  186
4  2021-01-05  492476  149
5  2021-01-06  494278  112
16 2021-01-17  496719  103
23 2021-01-24  514338  111
26 2021-01-27  519069  106
9  2021-01-10  520374  151
19 2021-01-20  527748  121
17 2021-01-18  532857  167
22 2021-01-23  545799  103
0  2021-01-01  549342  125
12 2021-01-13  549903  156
30 2021-01-31  564572  183
29 2021-01-30  566339  114
1  2021-01-02  577869  150
27 2021-01-28  585872  109

In [156]:
df.drop(0, axis=0, inplace=True)

In [157]:
df

           日付    売り上げ   客数
25 2021-01-26  306648  194
3  2021-01-04  317730  156
2  2021-01-03  328030  184
24 2021-01-25  330255  103
18 2021-01-19  335662  111
8  2021-01-09  346203  101
11 2021-01-12  365632  148
14 2021-01-15  371200  149
28 2021-01-29  383079  187
13 2021-01-14  418857  191
7  2021-01-08  429130  181
20 2021-01-21  430256  189
6  2021-01-07  446449  118
10 2021-01-11  453313  144
21 2021-01-22  457698  198
15 2021-01-16  464782  186
4  2021-01-05  492476  149
5  2021-01-06  494278  112
16 2021-01-17  496719  103
23 2021-01-24  514338  111
26 2021-01-27  519069  106
9  2021-01-10  520374  151
19 2021-01-20  527748  121
17 2021-01-18  532857  167
22 2021-01-23  545799  103
12 2021-01-13  549903  156
30 2021-01-31  564572  183
29 2021-01-30  566339  114
1  2021-01-02  577869  150
27 2021-01-28  585872  109

In [158]:
df.loc[:, "客単価"] = df.loc[:, "売り上げ"] / df.loc[:, "客数"]
df

           日付    売り上げ   客数          客単価
25 2021-01-26  306648  194  1580.659794
3  2021-01-04  317730  156  2036.730769
2  2021-01-03  328030  184  1782.771739
24 2021-01-25  330255  103  3206.359223
18 2021-01-19  335662  111  3023.981982
8  2021-01-09  346203  101  3427.752475
11 2021-01-12  365632  148  2470.486486
14 2021-01-15  371200  149  2491.275168
28 2021-01-29  383079  187  2048.550802
13 2021-01-14  418857  191  2192.968586
7  2021-01-08  429130  181  2370.883978
20 2021-01-21  430256  189  2276.486772
6  2021-01-07  446449  118  3783.466102
10 2021-01-11  453313  144  3148.006944
21 2021-01-22  457698  198  2311.606061
15 2021-01-16  464782  186  2498.827957
4  2021-01-05  492476  149  3305.208054
5  2021-01-06  494278  112  4413.196429
16 2021-01-17  496719  103  4822.514563
23 2021-01-24  514338  111  4633.675676
26 2021-01-27  519069  106  4896.877358
9  2021-01-10  520374  151  3446.185430
19 2021-01-20  527748  121  4361.553719
17 2021-01-18  532857  167  3190.760479
22 2021-01-23  545799  103  5299.019417
12 2021-01-13  549903  156  3525.019231
30 2021-01-31  564572  183  3085.092896
29 2021-01-30  566339  114  4967.885965
1  2021-01-02  577869  150  3852.460000
27 2021-01-28  585872  109  5374.972477

In [159]:
df.loc[:, "客単価"] = df.loc[:, "客単価"].round().astype(int)
df

C:\Users\USER\AppData\Local\Temp\ipykernel_12936\1887649620.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, "客単価"] = df.loc[:, "客単価"].round().astype(int)

           日付    売り上げ   客数   客単価
25 2021-01-26  306648  194  1581
3  2021-01-04  317730  156  2037
2  2021-01-03  328030  184  1783
24 2021-01-25  330255  103  3206
18 2021-01-19  335662  111  3024
8  2021-01-09  346203  101  3428
11 2021-01-12  365632  148  2470
14 2021-01-15  371200  149  2491
28 2021-01-29  383079  187  2049
13 2021-01-14  418857  191  2193
7  2021-01-08  429130  181  2371
20 2021-01-21  430256  189  2276
6  2021-01-07  446449  118  3783
10 2021-01-11  453313  144  3148
21 2021-01-22  457698  198  2312
15 2021-01-16  464782  186  2499
4  2021-01-05  492476  149  3305
5  2021-01-06  494278  112  4413
16 2021-01-17  496719  103  4823
23 2021-01-24  514338  111  4634
26 2021-01-27  519069  106  4897
9  2021-01-10  520374  151  3446
19 2021-01-20  527748  121  4362
17 2021-01-18  532857  167  3191
22 2021-01-23  545799  103  5299
12 2021-01-13  549903  156  3525
30 2021-01-31  564572  183  3085
29 2021-01-30  566339  114  4968
1  2021-01-02  577869  150  3852
27 2021-01-28  585872  109  5375

Convert DataFrame to ndarray

In [160]:
df.values

array([[Timestamp('2021-01-26 00:00:00'), 306648, 194, 1581],
       [Timestamp('2021-01-04 00:00:00'), 317730, 156, 2037],
       [Timestamp('2021-01-03 00:00:00'), 328030, 184, 1783],
       [Timestamp('2021-01-25 00:00:00'), 330255, 103, 3206],
       [Timestamp('2021-01-19 00:00:00'), 335662, 111, 3024],
       [Timestamp('2021-01-09 00:00:00'), 346203, 101, 3428],
       [Timestamp('2021-01-12 00:00:00'), 365632, 148, 2470],
       [Timestamp('2021-01-15 00:00:00'), 371200, 149, 2491],
       [Timestamp('2021-01-29 00:00:00'), 383079, 187, 2049],
       [Timestamp('2021-01-14 00:00:00'), 418857, 191, 2193],
       [Timestamp('2021-01-08 00:00:00'), 429130, 181, 2371],
       [Timestamp('2021-01-21 00:00:00'), 430256, 189, 2276],
       [Timestamp('2021-01-07 00:00:00'), 446449, 118, 3783],
       [Timestamp('2021-01-11 00:00:00'), 453313, 144, 3148],
       [Timestamp('2021-01-22 00:00:00'), 457698, 198, 2312],
       [Timestamp('2021-01-16 00:00:00'), 464782, 186, 2499],
       [Timestamp('2021-01-05 00:00:00'), 492476, 149, 3305],
       [Timestamp('2021-01-06 00:00:00'), 494278, 112, 4413],
       [Timestamp('2021-01-17 00:00:00'), 496719, 103, 4823],
       [Timestamp('2021-01-24 00:00:00'), 514338, 111, 4634],
       [Timestamp('2021-01-27 00:00:00'), 519069, 106, 4897],
       [Timestamp('2021-01-10 00:00:00'), 520374, 151, 3446],
       [Timestamp('2021-01-20 00:00:00'), 527748, 121, 4362],
       [Timestamp('2021-01-18 00:00:00'), 532857, 167, 3191],
       [Timestamp('2021-01-23 00:00:00'), 545799, 103, 5299],
       [Timestamp('2021-01-13 00:00:00'), 549903, 156, 3525],
       [Timestamp('2021-01-31 00:00:00'), 564572, 183, 3085],
       [Timestamp('2021-01-30 00:00:00'), 566339, 114, 4968],
       [Timestamp('2021-01-02 00:00:00'), 577869, 150, 3852],
       [Timestamp('2021-01-28 00:00:00'), 585872, 109, 5375]],
      dtype=object)

In [161]:
df[["売り上げ", "客単価"]].values

array([[306648,   1581],
       [317730,   2037],
       [328030,   1783],
       [330255,   3206],
       [335662,   3024],
       [346203,   3428],
       [365632,   2470],
       [371200,   2491],
       [383079,   2049],
       [418857,   2193],
       [429130,   2371],
       [430256,   2276],
       [446449,   3783],
       [453313,   3148],
       [457698,   2312],
       [464782,   2499],
       [492476,   3305],
       [494278,   4413],
       [496719,   4823],
       [514338,   4634],
       [519069,   4897],
       [520374,   3446],
       [527748,   4362],
       [532857,   3191],
       [545799,   5299],
       [549903,   3525],
       [564572,   3085],
       [566339,   4968],
       [577869,   3852],
       [585872,   5375]], dtype=int64)

In [162]:
dates = pd.date_range(start="2021-01-01", end="2021-12-31")
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25',
               '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [163]:
df = pd.DataFrame(np.random.randint(1, 100, 365), index=dates, columns=["Random Value"])
df

            Random Value
2021-01-01            65
2021-01-02             4
2021-01-03            95
2021-01-04            46
2021-01-05            71
...                  ...
2021-12-27             9
2021-12-28            17
2021-12-29            12
2021-12-30            88
2021-12-31            55

[365 rows x 1 columns]

In [164]:
df.groupby(pd.Grouper(freq='M')).mean()

            Random Value
2021-01-31     58.290323
2021-02-28     53.107143
2021-03-31     52.387097
2021-04-30     50.266667
2021-05-31     51.096774
2021-06-30     50.666667
2021-07-31     42.838710
2021-08-31     48.387097
2021-09-30     50.833333
2021-10-31     55.225806
2021-11-30     49.366667
2021-12-31     48.000000

In [165]:
df.resample('M').mean()

            Random Value
2021-01-31     58.290323
2021-02-28     53.107143
2021-03-31     52.387097
2021-04-30     50.266667
2021-05-31     51.096774
2021-06-30     50.666667
2021-07-31     42.838710
2021-08-31     48.387097
2021-09-30     50.833333
2021-10-31     55.225806
2021-11-30     49.366667
2021-12-31     48.000000

In [166]:
df = pd.read_csv("sales_data_contains_nan.csv")
df

            日付      売り上げ     客数     客単価
0   2021-01-01  549342.0  125.0  4395.0
1   2021-01-02  577869.0  150.0  3852.0
2   2021-01-03  328030.0  184.0  1783.0
3   2021-01-04  317730.0  156.0  2037.0
4   2021-01-05  492476.0  149.0     NaN
5   2021-01-06  494278.0  112.0  4413.0
6   2021-01-07  446449.0    NaN  3783.0
7   2021-01-08  429130.0  181.0  2371.0
8   2021-01-09  346203.0  101.0     NaN
9   2021-01-10       NaN  151.0  3446.0
10  2021-01-11  453313.0  144.0  3148.0
11  2021-01-12  365632.0  148.0  2470.0
12  2021-01-13  549903.0  156.0  3525.0
13  2021-01-14       NaN  191.0  2193.0
14  2021-01-15  371200.0  149.0  2491.0
15  2021-01-16  464782.0  186.0  2499.0
16  2021-01-17  496719.0  103.0  4823.0
17  2021-01-18  532857.0    NaN  3191.0
18  2021-01-19  335662.0  111.0  3024.0
19  2021-01-20  527748.0  121.0  4362.0
20  2021-01-21  430256.0  189.0     NaN
21  2021-01-22  457698.0  198.0  2312.0
22  2021-01-23  545799.0  103.0  5299.0
23  2021-01-24  514338.0  111.0  4634.0
24  2021-01-25  330255.0  103.0  3206.0
25  2021-01-26       NaN  194.0  1581.0
26  2021-01-27  519069.0  106.0  4897.0
27  2021-01-28  585872.0    NaN  5375.0
28  2021-01-29  383079.0  187.0  2049.0
29  2021-01-30  566339.0  114.0  4968.0
30  2021-01-31  564572.0  183.0  3085.0

In [167]:
dropna_df = df.dropna()
dropna_df

            日付      売り上げ     客数     客単価
0   2021-01-01  549342.0  125.0  4395.0
1   2021-01-02  577869.0  150.0  3852.0
2   2021-01-03  328030.0  184.0  1783.0
3   2021-01-04  317730.0  156.0  2037.0
5   2021-01-06  494278.0  112.0  4413.0
7   2021-01-08  429130.0  181.0  2371.0
10  2021-01-11  453313.0  144.0  3148.0
11  2021-01-12  365632.0  148.0  2470.0
12  2021-01-13  549903.0  156.0  3525.0
14  2021-01-15  371200.0  149.0  2491.0
15  2021-01-16  464782.0  186.0  2499.0
16  2021-01-17  496719.0  103.0  4823.0
18  2021-01-19  335662.0  111.0  3024.0
19  2021-01-20  527748.0  121.0  4362.0
21  2021-01-22  457698.0  198.0  2312.0
22  2021-01-23  545799.0  103.0  5299.0
23  2021-01-24  514338.0  111.0  4634.0
24  2021-01-25  330255.0  103.0  3206.0
26  2021-01-27  519069.0  106.0  4897.0
28  2021-01-29  383079.0  187.0  2049.0
29  2021-01-30  566339.0  114.0  4968.0
30  2021-01-31  564572.0  183.0  3085.0

In [168]:
fillna_df = df.fillna(0)
fillna_df

            日付      売り上げ     客数     客単価
0   2021-01-01  549342.0  125.0  4395.0
1   2021-01-02  577869.0  150.0  3852.0
2   2021-01-03  328030.0  184.0  1783.0
3   2021-01-04  317730.0  156.0  2037.0
4   2021-01-05  492476.0  149.0     0.0
5   2021-01-06  494278.0  112.0  4413.0
6   2021-01-07  446449.0    0.0  3783.0
7   2021-01-08  429130.0  181.0  2371.0
8   2021-01-09  346203.0  101.0     0.0
9   2021-01-10       0.0  151.0  3446.0
10  2021-01-11  453313.0  144.0  3148.0
11  2021-01-12  365632.0  148.0  2470.0
12  2021-01-13  549903.0  156.0  3525.0
13  2021-01-14       0.0  191.0  2193.0
14  2021-01-15  371200.0  149.0  2491.0
15  2021-01-16  464782.0  186.0  2499.0
16  2021-01-17  496719.0  103.0  4823.0
17  2021-01-18  532857.0    0.0  3191.0
18  2021-01-19  335662.0  111.0  3024.0
19  2021-01-20  527748.0  121.0  4362.0
20  2021-01-21  430256.0  189.0     0.0
21  2021-01-22  457698.0  198.0  2312.0
22  2021-01-23  545799.0  103.0  5299.0
23  2021-01-24  514338.0  111.0  4634.0
24  2021-01-25  330255.0  103.0  3206.0
25  2021-01-26       0.0  194.0  1581.0
26  2021-01-27  519069.0  106.0  4897.0
27  2021-01-28  585872.0    0.0  5375.0
28  2021-01-29  383079.0  187.0  2049.0
29  2021-01-30  566339.0  114.0  4968.0
30  2021-01-31  564572.0  183.0  3085.0

Fill Missing Values with The Previous Values

In [171]:
ffill_df = df.fillna(method="ffill")
ffill_df

            日付      売り上げ     客数     客単価
0   2021-01-01  549342.0  125.0  4395.0
1   2021-01-02  577869.0  150.0  3852.0
2   2021-01-03  328030.0  184.0  1783.0
3   2021-01-04  317730.0  156.0  2037.0
4   2021-01-05  492476.0  149.0  2037.0
5   2021-01-06  494278.0  112.0  4413.0
6   2021-01-07  446449.0  112.0  3783.0
7   2021-01-08  429130.0  181.0  2371.0
8   2021-01-09  346203.0  101.0  2371.0
9   2021-01-10  346203.0  151.0  3446.0
10  2021-01-11  453313.0  144.0  3148.0
11  2021-01-12  365632.0  148.0  2470.0
12  2021-01-13  549903.0  156.0  3525.0
13  2021-01-14  549903.0  191.0  2193.0
14  2021-01-15  371200.0  149.0  2491.0
15  2021-01-16  464782.0  186.0  2499.0
16  2021-01-17  496719.0  103.0  4823.0
17  2021-01-18  532857.0  103.0  3191.0
18  2021-01-19  335662.0  111.0  3024.0
19  2021-01-20  527748.0  121.0  4362.0
20  2021-01-21  430256.0  189.0  4362.0
21  2021-01-22  457698.0  198.0  2312.0
22  2021-01-23  545799.0  103.0  5299.0
23  2021-01-24  514338.0  111.0  4634.0
24  2021-01-25  330255.0  103.0  3206.0
25  2021-01-26  330255.0  194.0  1581.0
26  2021-01-27  519069.0  106.0  4897.0
27  2021-01-28  585872.0  106.0  5375.0
28  2021-01-29  383079.0  187.0  2049.0
29  2021-01-30  566339.0  114.0  4968.0
30  2021-01-31  564572.0  183.0  3085.0

In [172]:
fill_mean_df = df.fillna(df.mean())
fill_mean_df

C:\Users\USER\AppData\Local\Temp\ipykernel_12936\1326675698.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  fill_mean_df = df.fillna(df.mean())

            日付      売り上げ          客数          客単価
0   2021-01-01  549342.0  125.000000  4395.000000
1   2021-01-02  577869.0  150.000000  3852.000000
2   2021-01-03  328030.0  184.000000  1783.000000
3   2021-01-04  317730.0  156.000000  2037.000000
4   2021-01-05  492476.0  149.000000  3400.428571
5   2021-01-06  494278.0  112.000000  4413.000000
6   2021-01-07  446449.0  146.642857  3783.000000
7   2021-01-08  429130.0  181.000000  2371.000000
8   2021-01-09  346203.0  101.000000  3400.428571
9   2021-01-10  463450.0  151.000000  3446.000000
10  2021-01-11  453313.0  144.000000  3148.000000
11  2021-01-12  365632.0  148.000000  2470.000000
12  2021-01-13  549903.0  156.000000  3525.000000
13  2021-01-14  463450.0  191.000000  2193.000000
14  2021-01-15  371200.0  149.000000  2491.000000
15  2021-01-16  464782.0  186.000000  2499.000000
16  2021-01-17  496719.0  103.000000  4823.000000
17  2021-01-18  532857.0  146.642857  3191.000000
18  2021-01-19  335662.0  111.000000  3024.000000
19  2021-01-20  527748.0  121.000000  4362.000000
20  2021-01-21  430256.0  189.000000  3400.428571
21  2021-01-22  457698.0  198.000000  2312.000000
22  2021-01-23  545799.0  103.000000  5299.000000
23  2021-01-24  514338.0  111.000000  4634.000000
24  2021-01-25  330255.0  103.000000  3206.000000
25  2021-01-26  463450.0  194.000000  1581.000000
26  2021-01-27  519069.0  106.000000  4897.000000
27  2021-01-28  585872.0  146.642857  5375.000000
28  2021-01-29  383079.0  187.000000  2049.000000
29  2021-01-30  566339.0  114.000000  4968.000000
30  2021-01-31  564572.0  183.000000  3085.000000

In [173]:
df.mode()

            日付      売り上げ     客数     客単価
0   2021-01-01  317730.0  103.0  1581.0
1   2021-01-02  328030.0    NaN  1783.0
2   2021-01-03  330255.0    NaN  2037.0
3   2021-01-04  335662.0    NaN  2049.0
4   2021-01-05  346203.0    NaN  2193.0
5   2021-01-06  365632.0    NaN  2312.0
6   2021-01-07  371200.0    NaN  2371.0
7   2021-01-08  383079.0    NaN  2470.0
8   2021-01-09  429130.0    NaN  2491.0
9   2021-01-10  430256.0    NaN  2499.0
10  2021-01-11  446449.0    NaN  3024.0
11  2021-01-12  453313.0    NaN  3085.0
12  2021-01-13  457698.0    NaN  3148.0
13  2021-01-14  464782.0    NaN  3191.0
14  2021-01-15  492476.0    NaN  3206.0
15  2021-01-16  494278.0    NaN  3446.0
16  2021-01-17  496719.0    NaN  3525.0
17  2021-01-18  514338.0    NaN  3783.0
18  2021-01-19  519069.0    NaN  3852.0
19  2021-01-20  527748.0    NaN  4362.0
20  2021-01-21  532857.0    NaN  4395.0
21  2021-01-22  545799.0    NaN  4413.0
22  2021-01-23  549342.0    NaN  4634.0
23  2021-01-24  549903.0    NaN  4823.0
24  2021-01-25  564572.0    NaN  4897.0
25  2021-01-26  566339.0    NaN  4968.0
26  2021-01-27  577869.0    NaN  5299.0
27  2021-01-28  585872.0    NaN  5375.0
28  2021-01-29       NaN    NaN     NaN
29  2021-01-30       NaN    NaN     NaN
30  2021-01-31       NaN    NaN     NaN

In [174]:
fill_freq_df = df.fillna(df.mode().iloc[0, :])
fill_freq_df

            日付      売り上げ     客数     客単価
0   2021-01-01  549342.0  125.0  4395.0
1   2021-01-02  577869.0  150.0  3852.0
2   2021-01-03  328030.0  184.0  1783.0
3   2021-01-04  317730.0  156.0  2037.0
4   2021-01-05  492476.0  149.0  1581.0
5   2021-01-06  494278.0  112.0  4413.0
6   2021-01-07  446449.0  103.0  3783.0
7   2021-01-08  429130.0  181.0  2371.0
8   2021-01-09  346203.0  101.0  1581.0
9   2021-01-10  317730.0  151.0  3446.0
10  2021-01-11  453313.0  144.0  3148.0
11  2021-01-12  365632.0  148.0  2470.0
12  2021-01-13  549903.0  156.0  3525.0
13  2021-01-14  317730.0  191.0  2193.0
14  2021-01-15  371200.0  149.0  2491.0
15  2021-01-16  464782.0  186.0  2499.0
16  2021-01-17  496719.0  103.0  4823.0
17  2021-01-18  532857.0  103.0  3191.0
18  2021-01-19  335662.0  111.0  3024.0
19  2021-01-20  527748.0  121.0  4362.0
20  2021-01-21  430256.0  189.0  1581.0
21  2021-01-22  457698.0  198.0  2312.0
22  2021-01-23  545799.0  103.0  5299.0
23  2021-01-24  514338.0  111.0  4634.0
24  2021-01-25  330255.0  103.0  3206.0
25  2021-01-26  317730.0  194.0  1581.0
26  2021-01-27  519069.0  106.0  4897.0
27  2021-01-28  585872.0  103.0  5375.0
28  2021-01-29  383079.0  187.0  2049.0
29  2021-01-30  566339.0  114.0  4968.0
30  2021-01-31  564572.0  183.0  3085.0

In [2]:
import numpy as np
import pandas as pd
sales_df = pd.read_csv("sales_data_.csv", index_col="日付", parse_dates=True)
weather_df = pd.read_csv("weather_data.csv", index_col="日付", parse_dates=True)
february_df = pd.read_csv("february_data.csv", index_col="日付", parse_dates=True)

In [3]:
sales_df

              売り上げ   客数   客単価
日付
2021-01-01  549342  125  4395
2021-01-02  577869  150  3852
2021-01-03  328030  184  1783
2021-01-04  317730  156  2037
2021-01-05  492476  149  3305
2021-01-06  494278  112  4413
2021-01-07  446449  118  3783
2021-01-08  429130  181  2371
2021-01-09  346203  101  3428
2021-01-10  520374  151  3446
2021-01-11  453313  144  3148
2021-01-12  365632  148  2470
2021-01-13  549903  156  3525
2021-01-14  418857  191  2193
2021-01-15  371200  149  2491
2021-01-16  464782  186  2499
2021-01-17  496719  103  4823
2021-01-18  532857  167  3191
2021-01-19  335662  111  3024
2021-01-20  527748  121  4362
2021-01-21  430256  189  2276
2021-01-22  457698  198  2312
2021-01-23  545799  103  5299
2021-01-24  514338  111  4634
2021-01-25  330255  103  3206
2021-01-26  306648  194  1581
2021-01-27  519069  106  4897
2021-01-28  585872  109  5375
2021-01-29  383079  187  2049
2021-01-30  566339  114  4968
2021-01-31  564572  183  3085

In [4]:
weather_df

            気温 天気
日付
2021-01-01  22  曇
2021-01-02  20  晴
2021-01-03  23  雨
2021-01-04  23  曇
2021-01-05  18  雨
2021-01-06  15  晴
2021-01-07  15  曇
2021-01-08  22  晴
2021-01-09  17  晴
2021-01-10  18  晴
2021-01-11  19  晴
2021-01-12  23  雨
2021-01-13  18  雨
2021-01-14  21  晴
2021-01-15  16  曇
2021-01-16  16  曇
2021-01-17  16  雨
2021-01-18  22  雨
2021-01-19  23  晴
2021-01-20  15  雨
2021-01-21  17  晴
2021-01-22  15  晴
2021-01-23  15  曇
2021-01-24  20  雨
2021-01-25  24  雨
2021-01-26  24  雨
2021-01-27  23  晴
2021-01-28  21  雨
2021-01-29  19  晴
2021-01-30  15  晴
2021-01-31  23  曇

In [5]:
february_df

              売り上げ   客数   客単価  気温 天気
日付
2021-02-01  360547  127  2839  15  曇
2021-02-02  307686  102  3017  16  曇
2021-02-03  581181  171  3399  19  晴
2021-02-04  551938  167  3305  21  晴
2021-02-05  573605  117  4903  24  曇
2021-02-06  458212  173  2649  19  晴
2021-02-07  400408  126  3178  24  晴
2021-02-08  578027  171  3380  22  雨
2021-02-09  306488  121  2533  19  曇
2021-02-10  595903  158  3772  15  雨
2021-02-11  476045  172  2768  19  雨
2021-02-12  402068  176  2284  21  晴
2021-02-13  501486  167  3003  23  曇
2021-02-14  511853  159  3219  24  雨
2021-02-15  422749  102  4145  21  曇
2021-02-16  505571  158  3200  21  晴
2021-02-17  540856  139  3891  24  曇
2021-02-18  514593  173  2975  23  曇
2021-02-19  479182  103  4652  21  雨
2021-02-20  365749  185  1977  22  雨
2021-02-21  382602  157  2437  22  晴
2021-02-22  526799  100  5268  21  曇
2021-02-23  413624  122  3390  19  雨
2021-02-24  414459  196  2115  17  晴
2021-02-25  565849  186  3042  16  雨
2021-02-26  429201  180  2384  15  晴
2021-02-27  430954  109  3954  20  曇
2021-02-28  367642  144  2553  19  晴

In [7]:
df = pd.concat([sales_df, weather_df], axis=1)
df

              売り上げ   客数   客単価  気温 天気
日付
2021-01-01  549342  125  4395  22  曇
2021-01-02  577869  150  3852  20  晴
2021-01-03  328030  184  1783  23  雨
2021-01-04  317730  156  2037  23  曇
2021-01-05  492476  149  3305  18  雨
2021-01-06  494278  112  4413  15  晴
2021-01-07  446449  118  3783  15  曇
2021-01-08  429130  181  2371  22  晴
2021-01-09  346203  101  3428  17  晴
2021-01-10  520374  151  3446  18  晴
2021-01-11  453313  144  3148  19  晴
2021-01-12  365632  148  2470  23  雨
2021-01-13  549903  156  3525  18  雨
2021-01-14  418857  191  2193  21  晴
2021-01-15  371200  149  2491  16  曇
2021-01-16  464782  186  2499  16  曇
2021-01-17  496719  103  4823  16  雨
2021-01-18  532857  167  3191  22  雨
2021-01-19  335662  111  3024  23  晴
2021-01-20  527748  121  4362  15  雨
2021-01-21  430256  189  2276  17  晴
2021-01-22  457698  198  2312  15  晴
2021-01-23  545799  103  5299  15  曇
2021-01-24  514338  111  4634  20  雨
2021-01-25  330255  103  3206  24  雨
2021-01-26  306648  194  1581  24  雨
2021-01-27  519069  106  4897  23  晴
2021-01-28  585872  109  5375  21  雨
2021-01-29  383079  187  2049  19  晴
2021-01-30  566339  114  4968  15  晴
2021-01-31  564572  183  3085  23  曇

In [8]:
df = pd.concat([df, february_df], axis=0)
df

              売り上げ   客数   客単価  気温 天気
日付
2021-01-01  549342  125  4395  22  曇
2021-01-02  577869  150  3852  20  晴
2021-01-03  328030  184  1783  23  雨
2021-01-04  317730  156  2037  23  曇
2021-01-05  492476  149  3305  18  雨
2021-01-06  494278  112  4413  15  晴
2021-01-07  446449  118  3783  15  曇
2021-01-08  429130  181  2371  22  晴
2021-01-09  346203  101  3428  17  晴
2021-01-10  520374  151  3446  18  晴
2021-01-11  453313  144  3148  19  晴
2021-01-12  365632  148  2470  23  雨
2021-01-13  549903  156  3525  18  雨
2021-01-14  418857  191  2193  21  晴
2021-01-15  371200  149  2491  16  曇
2021-01-16  464782  186  2499  16  曇
2021-01-17  496719  103  4823  16  雨
2021-01-18  532857  167  3191  22  雨
2021-01-19  335662  111  3024  23  晴
2021-01-20  527748  121  4362  15  雨
2021-01-21  430256  189  2276  17  晴
2021-01-22  457698  198  2312  15  晴
2021-01-23  545799  103  5299  15  曇
2021-01-24  514338  111  4634  20  雨
2021-01-25  330255  103  3206  24  雨
2021-01-26  306648  194  1581  24  雨
2021-01-27  519069  106  4897  23  晴
2021-01-28  585872  109  5375  21  雨
2021-01-29  383079  187  2049  19  晴
2021-01-30  566339  114  4968  15  晴
2021-01-31  564572  183  3085  23  曇
2021-02-01  360547  127  2839  15  曇
2021-02-02  307686  102  3017  16  曇
2021-02-03  581181  171  3399  19  晴
2021-02-04  551938  167  3305  21  晴
2021-02-05  573605  117  4903  24  曇
2021-02-06  458212  173  2649  19  晴
2021-02-07  400408  126  3178  24  晴
2021-02-08  578027  171  3380  22  雨
2021-02-09  306488  121  2533  19  曇
2021-02-10  595903  158  3772  15  雨
2021-02-11  476045  172  2768  19  雨
2021-02-12  402068  176  2284  21  晴
2021-02-13  501486  167  3003  23  曇
2021-02-14  511853  159  3219  24  雨
2021-02-15  422749  102  4145  21  曇
2021-02-16  505571  158  3200  21  晴
2021-02-17  540856  139  3891  24  曇
2021-02-18  514593  173  2975  23  曇
2021-02-19  479182  103  4652  21  雨
2021-02-20  365749  185  1977  22  雨
2021-02-21  382602  157  2437  22  晴
2021-02-22  526799  100  5268  21  曇
2021-02-23  413624  122  3390  19  雨
2021-02-24  414459  196  2115  17  晴
2021-02-25  565849  186  3042  16  雨
2021-02-26  429201  180  2384  15  晴
2021-02-27  430954  109  3954  20  曇
2021-02-28  367642  144  2553  19  晴

In [10]:
df.loc[:, "客数"].max()

198

In [11]:
df.loc[:, "売り上げ"].min()

306488

In [12]:
df.loc[:, "客単価"].mean()

3295.813559322034

In [15]:
df.loc[:, "気温"].mode()[0]

15

In [14]:
df.loc[:, "客単価"].std()

972.2175589249252

In [16]:
df.loc[:, "客単価"].std(ddof=0)

963.9432164613783

In [17]:
df[df.loc[:, "売り上げ"] >= 550000].count()

売り上げ    10
客数      10
客単価     10
気温      10
天気      10
dtype: int64

In [18]:
df.describe()

                売り上げ          客数          客単価         気温
count      59.000000   59.000000    59.000000  59.000000
mean   460809.423729  146.796610  3295.813559  19.661017
std     85798.149319   31.752154   972.217559   3.065999
min    306488.000000  100.000000  1581.000000  15.000000
25%    391743.500000  115.500000  2495.000000  17.000000
50%    464782.000000  150.000000  3191.000000  20.000000
75%    530302.500000  173.000000  3871.500000  22.000000
max    595903.000000  198.000000  5375.000000  24.000000

In [19]:
df.corr()

C:\Users\USER\AppData\Local\Temp\ipykernel_9112\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

          売り上げ        客数       客単価        気温
売り上げ  1.000000 -0.020908  0.637632 -0.085411
客数   -0.020908  1.000000 -0.757817  0.068527
客単価   0.637632 -0.757817  1.000000 -0.110313
気温   -0.085411  0.068527 -0.110313  1.000000

In [20]:
a = np.array([[[1, 2, 3]], [[2, 3, 4]], [[3,4,5]]])
a

array([[[1, 2, 3]],

       [[2, 3, 4]],

       [[3, 4, 5]]])

In [21]:
a[:, :, 2] = 1
a

array([[[1, 2, 1]],

       [[2, 3, 1]],

       [[3, 4, 1]]])

In [22]:
a = np.array([[1, 2, 3], [2, 3, 4], [3,4,5]])
a[1:]

array([[2, 3, 4],
       [3, 4, 5]])

In [23]:
a = np.array([[1, 2, 3], [2, 3, 4]])

np.diff(a)

array([[1, 1],
       [1, 1]])